* {
  font-size: 1em;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-family: "Stylish", serif;
  font-family: "Tiro Devanagari Marathi", serif;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

form {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
 

  
}

.box {
  padding: 0.5rem;
}

label {
  display: inline;
}

input {
  display: inline-block;
  width: 100%;
  padding: 1rem;
}

input:required:invalid,
input:focus:invalid {
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC); */
  background-position: right top;
  background-repeat: no-repeat;
  -moz-box-shadow: none;
}

input:required:valid {
  /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=); */
  background-position: right top;
  background-repeat: no-repeat;
}






#masthead {
    /* no-repeat 50% 50%; */
  padding: 10rem 0;
  background-size: 100%;
  /*color: #fff;*/
}
.help {
  margin: 2rem;
}
@media all and (min-width: 35rem) and (max-width: 60rem) {
  .box {
    float: left;
    width: 50%;
  }

  label {
    display: block;
  }

  /* #masthead {
  } */
}

@media all and (min-width: 60rem) {
  label {
    display: inline;
    width: 90px;
    float: left;
  }

  .box {
    width: 50%;
    float: left;
  }

  input {
    border: 1px solid #ccc;
    outline: none;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
  }

  #masthead {
    padding: 9rem;
  }
}

.subheading{
  color: rgba(165, 42, 42, 0.882);
  font-size: 20px;
}

.lifestyle-submit{
  border: 1px solid #ccc;
  width: 300px;
  height: 40px;
  margin-left: 75%;
  margin-top: 10px;
  padding: 8px 20px;
  background: rgba(165, 42, 42, 0.882);
  color: #fff;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  align-self: center;
}


/* .internal-headings{
  
} */

header.logo {
  position: relative;
  max-width: 80px;
}

header ul {
  position: relative;
  display: flex;
}

header ul li {
  list-style: none;
}

header ul li a {
  display: inline-block;
  color: #333;
  font-weight: 400;
  font-size: 18px;
  margin-left: 40px;
  text-decoration: none;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(165, 42, 42, 0.882);
}

.login-submit-div {
  border: 1px solid #ccc;
  margin-left: 88%;
  width: 300px;
  height: 40px;

  margin-top: 10px;
  padding: 8px 20px;
  background: rgba(165, 42, 42, 0.882);
  color: #fff;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;

  cursor: pointer;
}