<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_Prediction_form.css') }}">

</head>

<body>
    <section>
        <header>
            <!-- nav bar start -->
            <a href="#"><img class="logo" src="static/images/logo.png" alt="Logo"></a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('lipid_test') }}">Lipid Test Evaluation</a></li>
                <li><a href="{{ url_for('main') }}">Heart Disease Predictor</a></li>
                <li><a href="{{ url_for('upload') }}">ECG Analysis</a></li>
            </ul>
            <!-- nav bar end -->
        </header>
    </section>
    <!-- Text Area -->
        <form action="{{ url_for('predict')}}" method="POST">


            <label for="age">Age</label>
            <input type="text" id="age" name="age" placeholder="Your age.."><br>



            <label for="sex">Sex</label>
            <select id="sex" name="sex">
                <option selected>----select option----</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
            </select><br>



            <label for="cp">Chest Pain Type</label>
            <select id="cp" name="cp">
                <option selected>----select option----</option>
                <option value="0">Typical Angina</option>
                <option value="1">Atypical Angina</option>
                <option value="2">Non-anginal Pain</option>
                <option value="3">Asymtomatic</option>
            </select><br>



            <label for="trestbps">Resting Blood Pressure</label>
            <input type="text" id="trestbps" name="trestbps" placeholder="A number in range [94-200] mmHg"><br>



            <label for="chol">Serum Cholesterol</label>
            <input type="text" id="chol" name="chol" placeholder="A number in range [126-564] mg/dl"><br>



            <label for="fbs">Fasting Blood Sugar</label>
            <select id="fbs" name="fbs">
                <option selected>----select option----</option>
                <option value="1">Greater than 120 mg/dl</option>
                <option value="0">Less than 120 mg/dl</option>
            </select><br>



            <label for="restecg">Resting ECG Results</label>
            <select id="restecg" name="restecg">
                <option selected>----select option----</option>
                <option value="0">Normal</option>
                <option value="1">Having ST-T wave abnormality</option>
                <option value="2">Probable or definite left ventricular
                    hypertrophy</option>
            </select><br>



            <label for="thalach">Max Heart Rate </label>
            <input type="text" id="thalach" name="thalach" placeholder="A number in range [71-202] bpm"><br>


            <label for="exang">Exercise-induced Angina</label>
            <select id="exang" name="exang">
                <option selected>----select option----</option>
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>


            <label for="oldpeak">ST depression</label>
            <input type="text" id="oldpeak" name="oldpeak" placeholder="ST depression, typically in [0-6.2]"><br>



            <label for="slope">slope of the peak exercise ST segment</label>
            <select id="slope" name="slope">
                <option selected>----select option----</option>
                <option value="0">Upsloping</option>
                <option value="1">Flat</option>
                <option value="2">Downsloping</option>
            </select><br>


            <label for="ca">Number of Major vessels</label>
            <input type="text" id="ca" name="ca" placeholder="Typically in [0-4]"><br>



            <label for="thal">Thalassemia</label>
            <select id="thal" name="thal">
                <option selected>----select option----</option>
                <option value="0">Normal</option>
                <option value="1">Fixed Defect</option>
                <option value="2">Reversible Defect</option>
            </select><br>



            <input type="Submit" class="my-cta-button" value="predict">
        </form>
    </div>
</body>

</html>